<app-menu></app-menu>


<div class="container-fluid text-center vh-100 bg-secondary mt-0">

  <button type="button" class="btn btn-primary btn-sm mt-5 mb-5">Criar nova lista +</button>



    <div class="row align-items-center justify-content-center">

      <div class="col-md-3 p-1 border m-2 bg-body-tertiary">
        <strong><h4>Lista de compras</h4></strong>
        <button type="button" class="btn btn-success btn-sm">Add item </button>
        <ul class="list-group list-group-flush mt-2 mb-2 p-2">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </div>

    </div>


</div>

<app-rodape></app-rodape>
